    /* .p-paginator {  */
        /* .p-paginator-current {
            margin-left: auto;
        }  */
      /* } */
    
    /* .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;
    
        .p-progressbar-value {
            background-color: #607D8B;
        }
    } */
/* 
    .table-header {
        display: flex;
        justify-content: space-between;
    }
     .p-datatable .p-datatable-header {
        background: #fbff00b4;
        color: #343a06;
        border: 1px solid #DEE3FB;
        border-width: 1px 1px 1px 1px;
        padding: 0rem 1rem;
        font-weight: 700;
    }
    .p-datatable-thead > tr > th {
        text-align: left;
    }

    .p-datatable-tbody > tr > td {
        cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
        text-transform: uppercase;
    }
    .p-datatable-tbody 
    > tr {
        border-bottom: 1px solid var(--layer-2);
        
            }
   */
 