
  /* .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: rgb(252, 22, 22);
    font-weight: 600;
  } */
